{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <h1>Welcome Back</h1>
        <p>Login to continue shopping.</p>
      </div>

      <div class="right">
        <h2>Login</h2>
        <span id="err">{{error}}</span>

        <form method="post">
          {% csrf_token %}

          <div class="input-box">
            <i class="fa-solid fa-envelope"></i>
            <input class="getData" type="text" name="email" placeholder="Username" />
          </div>

          <div class="input-box">
            <i class="fa-solid fa-lock"></i>
            <input class="getData" type="password" name="password" placeholder="Password" />
          </div>

          <button>Login</button>

          <p>
            Don't have an account?
            <a href="/register/">Register</a>
          </p>
        </form>
      </div>
    </div>
    <script>
      const err = document.querySelector("#err")
      const data = document.querySelectorAll(".getData")
      data.forEach((inputElement)=>{
        inputElement.addEventListener("focus", () => {
          err.classList.add("hidden");
        });
      })

    </script>
  </body>
</html>
